<div class="col s12 tag-div">
    <div class="user-pic center-align">
        <a href="{{site.github_profile}}" target="_blank">
            <img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png">
        </a>
    </div>
    <div class="user-intro center-align">
        <i>Mr.Deng</i>
    </div>
    <div class="user-intro center-align">
        <h4 class="hidden">一个<span id="js-rotating">普通，单调</span>的程序员</h4>
    </div>
    <div class="user-content center-align">
        <p>
          	  中国北上广不相信眼泪，可美国的硅谷连弱者的汗水、血水统统都不信
        </p>
        <p>
           	它只相信数据和代码，充斥着最原始的优胜劣汰之法则。
        </p>
    </div>
</div>
